@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model AudioShopFrontend.ViewModels.CategoryViewModel
@switch (Model.SortType)
{
    case 1:
        <div class="row shop_wrapper grid_list">
            @foreach (var prd in Model.Products.OrderByDescending(p => p.Rating))
            {
                <div class=" col-12 ">
                    <div class="single_product">
                        <div class="product_name grid_name">
                            <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName</a></h3>
                            <p class="manufacture_product"><a href="@Url.Action("Category","Home",new { Title = prd.Category.CategoryName.Replace(' ','_'), BrandId = prd.BrandId.ToString()})"> @prd.Brand.BrandName </a></p>
                        </div>
                        <div class="product_thumb">
                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl" alt="@prd.ProductName.Replace(' ','_')"></a>
                            }
                            else
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="" alt="بدون عکس"></a>
                            }
                            @*                                    <a class="secondary_img" href="product-details.html"><img src="assets/img/product/product11.jpg" alt=""></a>*@
                            <div class="label_product">
                                <span class="label_sale">@prd.OffPercentage %-</span>
                            </div>
                            <div class="action_links">
                                <ul>
                                    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                    else
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="product_content grid_content">
                            <div class="content_inner">
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="product_footer d-flex align-items-center">
                                    @if (prd.AvailableCount > 0)
                                    {
                                        <div class="price_box">
                                            <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                            @if (prd.OffPercentage > 0)
                                            {
                                                <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                            }
                                        </div>
                                        <div class="add_to_cart">
                                            @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                            {
                                                @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price_box">
                                            <span class="current_price">ناموجود</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="product_content list_content">
                            <div class="left_caption">
                                <div class="product_name">
                                    <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName </a></h3>
                                </div>
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div class="product_desc">
                                    <p>
                                        @Html.Raw(prd.Specification)
                                    </p>
                                </div>
                            </div>
                            <div class="right_caption">
                                @if (prd.AvailableCount > 0)
                                {
                                    <div class="text_available">
                                        <p> تعداد موجود :<span>@prd.AvailableCount</span></p>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                        @if (prd.OffPercentage > 0)
                                        {
                                            <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                        }
                                    </div>
                                    <div class="cart_links_btn">
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box">
                                        <span class="current_price">ناموجود</span>
                                    </div>
                                }
                                <div class="action_links_btn">
                                    <ul>
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                        else
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        break;
    case 2:
        <div class="row shop_wrapper grid_list">
            @foreach (var prd in Model.Products.OrderByDescending(p => p.CreateDate))
            {
                <div class=" col-12 ">
                    <div class="single_product">
                        <div class="product_name grid_name">
                            <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName</a></h3>
                            <p class="manufacture_product"><a href="@Url.Action("Category","Home",new { Title = prd.Category.CategoryName.Replace(' ','_'), BrandId = prd.BrandId.ToString()})"> @prd.Brand.BrandName </a></p>
                        </div>
                        <div class="product_thumb">
                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl" alt="@prd.ProductName.Replace(' ','_')"></a>
                            }
                            else
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="" alt="بدون عکس"></a>
                            }
                            @*                                    <a class="secondary_img" href="product-details.html"><img src="assets/img/product/product11.jpg" alt=""></a>*@
                            <div class="label_product">
                                <span class="label_sale">@prd.OffPercentage %-</span>
                            </div>
                            <div class="action_links">
                                <ul>
                                    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                    else
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="product_content grid_content">
                            <div class="content_inner">
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="product_footer d-flex align-items-center">
                                    @if (prd.AvailableCount > 0)
                                    {
                                        <div class="price_box">
                                            <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                            @if (prd.OffPercentage > 0)
                                            {
                                                <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                            }
                                        </div>
                                        <div class="add_to_cart">
                                            @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                            {
                                                @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price_box">
                                            <span class="current_price">ناموجود</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="product_content list_content">
                            <div class="left_caption">
                                <div class="product_name">
                                    <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName </a></h3>
                                </div>
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div class="product_desc">
                                    <p>
                                        @Html.Raw(prd.Specification)
                                    </p>
                                </div>
                            </div>
                            <div class="right_caption">
                                @if (prd.AvailableCount > 0)
                                {
                                    <div class="text_available">
                                        <p> تعداد موجود :<span>@prd.AvailableCount</span></p>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                        @if (prd.OffPercentage > 0)
                                        {
                                            <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                        }
                                    </div>
                                    <div class="cart_links_btn">
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box">
                                        <span class="current_price">ناموجود</span>
                                    </div>
                                }
                                <div class="action_links_btn">
                                    <ul>
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                        else
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        break;
    case 3:
        <div class="row shop_wrapper grid_list">
            @foreach (var prd in Model.Products.OrderBy(p => p.Price))
            {
                <div class=" col-12 ">
                    <div class="single_product">
                        <div class="product_name grid_name">
                            <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName</a></h3>
                            <p class="manufacture_product"><a href="@Url.Action("Category","Home",new { Title = prd.Category.CategoryName.Replace(' ','_'), BrandId = prd.BrandId.ToString()})"> @prd.Brand.BrandName </a></p>
                        </div>
                        <div class="product_thumb">
                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl" alt="@prd.ProductName.Replace(' ','_')"></a>
                            }
                            else
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="" alt="بدون عکس"></a>
                            }
                            @*                                    <a class="secondary_img" href="product-details.html"><img src="assets/img/product/product11.jpg" alt=""></a>*@
                            <div class="label_product">
                                <span class="label_sale">@prd.OffPercentage %-</span>
                            </div>
                            <div class="action_links">
                                <ul>
                                    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                    else
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="product_content grid_content">
                            <div class="content_inner">
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="product_footer d-flex align-items-center">
                                    @if (prd.AvailableCount > 0)
                                    {
                                        <div class="price_box">
                                            <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                            @if (prd.OffPercentage > 0)
                                            {
                                                <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                            }
                                        </div>
                                        <div class="add_to_cart">
                                            @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                            {
                                                @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price_box">
                                            <span class="current_price">ناموجود</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="product_content list_content">
                            <div class="left_caption">
                                <div class="product_name">
                                    <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName </a></h3>
                                </div>
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div class="product_desc">
                                    <p>
                                        @Html.Raw(prd.Specification)
                                    </p>
                                </div>
                            </div>
                            <div class="right_caption">
                                @if (prd.AvailableCount > 0)
                                {
                                    <div class="text_available">
                                        <p> تعداد موجود :<span>@prd.AvailableCount</span></p>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                        @if (prd.OffPercentage > 0)
                                        {
                                            <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                        }
                                    </div>
                                    <div class="cart_links_btn">
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box">
                                        <span class="current_price">ناموجود</span>
                                    </div>
                                }
                                <div class="action_links_btn">
                                    <ul>
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                        else
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        break;
    case 4:
        <div class="row shop_wrapper grid_list">
            @foreach (var prd in Model.Products.OrderByDescending(p => p.Price))
            {
                <div class=" col-12 ">
                    <div class="single_product">
                        <div class="product_name grid_name">
                            <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName</a></h3>
                            <p class="manufacture_product"><a href="@Url.Action("Category","Home",new { Title = prd.Category.CategoryName.Replace(' ','_'), BrandId = prd.BrandId.ToString()})"> @prd.Brand.BrandName </a></p>
                        </div>
                        <div class="product_thumb">
                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl" alt="@prd.ProductName.Replace(' ','_')"></a>
                            }
                            else
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="" alt="بدون عکس"></a>
                            }
                            @*                                    <a class="secondary_img" href="product-details.html"><img src="assets/img/product/product11.jpg" alt=""></a>*@
                            <div class="label_product">
                                <span class="label_sale">@prd.OffPercentage %-</span>
                            </div>
                            <div class="action_links">
                                <ul>
                                    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                    else
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="product_content grid_content">
                            <div class="content_inner">
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="product_footer d-flex align-items-center">
                                    @if (prd.AvailableCount > 0)
                                    {
                                        <div class="price_box">
                                            <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                            @if (prd.OffPercentage > 0)
                                            {
                                                <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                            }
                                        </div>
                                        <div class="add_to_cart">
                                            @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                            {
                                                @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price_box">
                                            <span class="current_price">ناموجود</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="product_content list_content">
                            <div class="left_caption">
                                <div class="product_name">
                                    <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName </a></h3>
                                </div>
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div class="product_desc">
                                    <p>
                                        @Html.Raw(prd.Specification)
                                    </p>
                                </div>
                            </div>
                            <div class="right_caption">
                                @if (prd.AvailableCount > 0)
                                {
                                    <div class="text_available">
                                        <p> تعداد موجود :<span>@prd.AvailableCount</span></p>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                        @if (prd.OffPercentage > 0)
                                        {
                                            <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                        }
                                    </div>
                                    <div class="cart_links_btn">
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box">
                                        <span class="current_price">ناموجود</span>
                                    </div>
                                }
                                <div class="action_links_btn">
                                    <ul>
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                        else
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        break;
    case 5:
        <div class="row shop_wrapper grid_list">
            @foreach (var prd in Model.Products.OrderBy(p => p.ProductName))
            {
                <div class=" col-12 ">
                    <div class="single_product">
                        <div class="product_name grid_name">
                            <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName</a></h3>
                            <p class="manufacture_product"><a href="@Url.Action("Category","Home",new { Title = prd.Category.CategoryName.Replace(' ','_'), BrandId = prd.BrandId.ToString()})"> @prd.Brand.BrandName </a></p>
                        </div>
                        <div class="product_thumb">
                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl" alt="@prd.ProductName.Replace(' ','_')"></a>
                            }
                            else
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="" alt="بدون عکس"></a>
                            }
                            @*                                    <a class="secondary_img" href="product-details.html"><img src="assets/img/product/product11.jpg" alt=""></a>*@
                            <div class="label_product">
                                <span class="label_sale">@prd.OffPercentage %-</span>
                            </div>
                            <div class="action_links">
                                <ul>
                                    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                    else
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="product_content grid_content">
                            <div class="content_inner">
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="product_footer d-flex align-items-center">
                                    @if (prd.AvailableCount > 0)
                                    {
                                        <div class="price_box">
                                            <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                            @if (prd.OffPercentage > 0)
                                            {
                                                <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                            }
                                        </div>
                                        <div class="add_to_cart">
                                            @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                            {
                                                @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price_box">
                                            <span class="current_price">ناموجود</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="product_content list_content">
                            <div class="left_caption">
                                <div class="product_name">
                                    <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName </a></h3>
                                </div>
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div class="product_desc">
                                    <p>
                                        @Html.Raw(prd.Specification)
                                    </p>
                                </div>
                            </div>
                            <div class="right_caption">
                                @if (prd.AvailableCount > 0)
                                {
                                    <div class="text_available">
                                        <p> تعداد موجود :<span>@prd.AvailableCount</span></p>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                        @if (prd.OffPercentage > 0)
                                        {
                                            <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                        }
                                    </div>
                                    <div class="cart_links_btn">
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box">
                                        <span class="current_price">ناموجود</span>
                                    </div>
                                }
                                <div class="action_links_btn">
                                    <ul>
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                        else
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        break;
    default:
        <div class="row shop_wrapper grid_list">
            @foreach (var prd in Model.Products)
            {
                <div class=" col-12 ">
                    <div class="single_product">
                        <div class="product_name grid_name">
                            <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName</a></h3>
                            <p class="manufacture_product"><a href="@Url.Action("Category","Home",new { Title = prd.Category.CategoryName.Replace(' ','_'), BrandId = prd.BrandId.ToString()})"> @prd.Brand.BrandName </a></p>
                        </div>
                        <div class="product_thumb">
                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl" alt="@prd.ProductName.Replace(' ','_')"></a>
                            }
                            else
                            {
                                <a class="primary_img" href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})"><img src="" alt="بدون عکس"></a>
                            }
                            @*                                    <a class="secondary_img" href="product-details.html"><img src="assets/img/product/product11.jpg" alt=""></a>*@
                            <div class="label_product">
                                <span class="label_sale">@prd.OffPercentage %-</span>
                            </div>
                            <div class="action_links">
                                <ul>
                                    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                    else
                                    {
                                        <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="product_content grid_content">
                            <div class="content_inner">
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="product_footer d-flex align-items-center">
                                    @if (prd.AvailableCount > 0)
                                    {
                                        <div class="price_box">
                                            <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                            @if (prd.OffPercentage > 0)
                                            {
                                                <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                            }
                                        </div>
                                        <div class="add_to_cart">
                                            @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                            {
                                                @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                                }
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price_box">
                                            <span class="current_price">ناموجود</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="product_content list_content">
                            <div class="left_caption">
                                <div class="product_name">
                                    <h3><a href="@Url.Action("Product","Home",new { Title = prd.ProductName.Replace(' ','_')})">@prd.ProductName </a></h3>
                                </div>
                                <div class="product_ratings">
                                    <ul>
                                        @if (prd.Rating != null)
                                        {
                                            @for (int j = (int)prd.Rating; j > 0; j--)
                                            {
                                                <li><i class="ion-star" style="color:#ffd54c;"></i></li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div class="product_desc">
                                    <p>
                                        @Html.Raw(prd.Specification)
                                    </p>
                                </div>
                            </div>
                            <div class="right_caption">
                                @if (prd.AvailableCount > 0)
                                {
                                    <div class="text_available">
                                        <p> تعداد موجود :<span>@prd.AvailableCount</span></p>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">@String.Format("{0:n0} تومان", prd.Price)</span>
                                        @if (prd.OffPercentage > 0)
                                        {
                                            <span class="old_price">@String.Format("{0:n0} تومان", prd.PriceWithoutOff)</span>
                                        }
                                    </div>
                                    <div class="cart_links_btn">
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            @if (Model.Files.Any(p => p.RelateId == prd.NidProduct && p.RelateType == 6))
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '@Model.Files.FirstOrDefault(p => p.RelateId == prd.NidProduct  && p.RelateType == 6).FileUrl', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                            else
                                            {
                                                <a href="#" onclick="AddToCart(event, '@prd.ProductName', '@prd.Price', '', '@prd.NidProduct',1)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                            }
                                        }
                                        else
                                        {
                                            <a href="#" onclick="AddToCartAlert(event)" title="افزودن به سبد خرید"><span class="lnr lnr-cart"></span></a>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="price_box">
                                        <span class="current_price">ناموجود</span>
                                    </div>
                                }
                                <div class="action_links_btn">
                                    <ul>
                                        @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Stereo8Login"))
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavorites(event,'@prd.NidProduct')" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                        else
                                        {
                                            <li class="wishlist"><a href="#" onclick="AddToFavoritesAlert(event)" title="افزودن به علاقه مندی ها"><span class="lnr lnr-heart"></span></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        break;
}
<div class="shop_toolbar t_bottom">
    <div class="pagination">
        <ul>
            <li class="current">1</li>
            @if (Model.ProductCount > 10)
            {
                @for (var i = 2; i <= (int)Math.Ceiling((decimal)Model.ProductCount / 10); i++)
                {
                    <li><a href="#" onclick="Pagination(@i)">@i</a></li>
                }
                <li class="next"><a href="#" onclick="Pagination(0)">بعدی</a></li>
            }
        </ul>
    </div>
</div>
<!--shop toolbar end-->
<!--shop wrapper end-->