@model Tuple<AudioShopBackend.Models.Order,IEnumerable<AudioShopBackend.Models.City>,IEnumerable<AudioShopBackend.Models.State>>

@{
    ViewData["Title"] = "جزییات سفارش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-4">
        <h6 class="m-0 font-weight-bold text-primary">جزییات سفارش</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <h4>اطلاعات مشتری</h4>
            <hr />
            <div class="row col-sm-12">
                <label class="col-sm-2">
                    نام
                </label>
                <label class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.FirstName)
                </label>
                <label class="col-sm-2">
                    نام خانوادگی
                </label>
                <label class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.LastName)
                </label>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    استان
                </div>
                <div class="col-sm-4">
                    @Model.Item3.FirstOrDefault(p => p.Id == Model.Item1.StateId).Name
                </div>
                <div class="col-sm-2">
                    شهر
                </div>
                <div class="col-sm-4">
                    @Model.Item2.FirstOrDefault(p => p.Id == Model.Item1.CityId).Name
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    آدرس
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.Address)
                </div>
                <div class="col-sm-2">
                    کدپستی
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.ZipCode)
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    شماره تماس
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.Tel)
                </div>
                <div class="col-sm-2">
                    ایمیل
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.Email)
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    کدملی
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.MelliCode)
                </div>
                <div class="col-sm-2">
                    نام کاربری
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.User.Username)
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <h4>اطلاعات سفارش</h4>
            <hr />
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    تاریخ
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.PersianCreateDate)
                </div>
                <div class="col-sm-2">
                    مبلغ کل
                </div>
                <div class="col-sm-4">
                    @String.Format("{0:n0} تومان", Model.Item1.TotalPrice)
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    توضیحات
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.Description)
                </div>
                <div class="col-sm-2">
                    تاریخ آخرین تغییر
                </div>
                <div class="col-sm-4">
                    @Html.DisplayFor(model => model.Item1.PersianLastModified)
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    محصولات
                </div>
                @foreach (var prd in Model.Item1.OrderDetails)
                {
                    <div class="col-sm-10">
                        @prd.Product.ProductName
                    </div>
                }
            </div>
        </div>
    </div>
</div>
